/* #ff4c23  #003754 #79D70F*/


/* #EF5B0C  #003865 #3CCF4E */


/*   #656565 #65dc89*/

body {
    margin: 0;
    font-family: 'Hubballi', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Hubballi', cursive;
}

:root {
    --darkblue: #003754;
    --orange: #ff4c23;
    --green: #79d70f;
}

.Title {
    text-align: center;
    color: var(--darkblue);
    font-size: 40px;
    font-weight: bolder;
}

.Title:hover {
    color: var(--orange);
}


/* ! ............................................................................................................................. */


/* ! ............................................................................................................................. */


/*? ------------------+ 1- Navbar +------------------------  */

.NavbarComponent .navbar {
    box-shadow: 0 0 10px rgb(0, 0, 0, 12%);
}

.NavbarComponent .navbar-brand img {
    height: 65px;
}

.NavbarComponent .navbar .nav-link {
    color: var(--darkblue);
    font-weight: 600;
    font-size: larger;
}

.NavbarComponent .navbar .nav-link:hover {
    color: var(--orange);
}


/* ! ............................................................................................................................. */


/* ! ............................................................................................................................. */


/*? ------------------+ 2- footer +------------------------  */

.App.site {
    min-height: 100vh;
}

.App main {
    flex: 1;
}

.App p {
    color: var(--darkblue);
    /* font-weight: 600;
    font-size: larger; */
}

.App p span {
    color: var(--orange);
}


/* ! ............................................................................................................................. */


/* ! ............................................................................................................................. */


/*? ------------------+ 3- Home +------------------------  */